* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*header*/
.header{
    width: 1440px;
    height: 80px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}
.left, 
.right{
    display: flex;
    align-items: center;
}
.left .area_logo{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}
.left ul,
.right .area_promo ul{
    list-style: none;
    display: flex;
}
.left li {
    margin: 0px 10px;
}
.left li a, 
.right .area_promo li a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 13px;
    padding:8px;
}
.left li a:hover,
.right .area_promo li a:hover{
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}
.right .area_promo {
    margin-right: 30px;
}
.right .area_login ul{
    list-style: none;
    display: flex;
    background-color: red;
    justify-content: flex-end;
}
.right .area_login img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}
/*end - header*/

/*start-section sections*/
.sections{
    width: 1440px;
    padding: 40px 0px 15px 0px;
    margin: auto;
}
.sections ul {
    list-style: none;
    
    display: flex;
}
.sections li {
    color: #ccc;
    font-size: 13px;
    margin-left: 5px;
}
.sections li a{
    color: #bbb;
    font-size: 13px;
    text-decoration: none;
}
.sections li a:hover{
    text-decoration: underline;
}
/*end-section sections*/

/*start-section info_product black*/
.info_product {
    width: 1440px;
    height: 45px;
    background-color: #000;
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
}
.info_product .area_name p{
    padding-left: 20px;
    font-size: 18px;
}
.info_product .area_price{
    display: flex;
    align-items: center;
}
.info_product .area_price .price{
    font-size: 30px;
    margin-right: 40px;
}
.info_product .area_price .button button {
    width: 210px;
    height: 45px;
    border:none;
    background-color: rgb(9, 121, 226);
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.info_product .area_price .button button:hover{
    background-color: rgb(9, 78, 226);
}
/*end-section info_product black*/